<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="Ivy Ho, Olivia Giandrea, Cherie Wang, Alex Chin">
    
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <header>
        {% block nav %}
        <nav>
            <ul>
                <img src="{{url_for('pic', filename='logo.png')}}" alt="RMDlogo"/>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('insert')}}">Insert a Recipe</a></li>
                <li><a href="{{url_for('search')}}">Search for a Recipe</a></li>
            </ul>

            {% if user %}
            <a href="{{url_for('profile')}}">View Profile</a>
            <!-- <form method="get" action="{{url_for('profile')}}">
                <p><input type="submit" value="View Profile"></p>
            </form> -->

            <form method="get" action="{{url_for('logout')}}">
                <p><input type="submit" value="logout {{user}}">
            </form>

            {% else %}
            <form method="get" action="{{url_for('login')}}">
                <p><input type="submit" value="login/register">
            </form>

            {% endif %}

            {% endblock %}
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% if error %}
        <p class="error"><strong>Error: </strong>
            <ul>
                {% for e in error %}
                <li class="error"> {{ e }} </li>
                {% endfor %}
            </ul>
        </p>
        <br>
        {% endif %}

        {% block main_content %}
        <h1>Welcome!</h1>
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        {% block end_scripts %}
        {% endblock %}
    </main>
</body>

</html>