{% extends "base.html" %}

{% block main_content %}

<h1>Search for Recipes</h1>

<div class=container>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form method="post" action="{{url_for('search')}}">
                <input type="hidden" name="form-name" value="form1">
                <fieldset>
                    <legend>Search</legend>
                    <table>
                        <tbody>
                            <tr>
                                
                                <td><label for="recipe-title">Search by Recipe Title: </label></td>
                                <td><input id="recipe-title" type="text" name="recipe-title"></td>
                            </tr>
                            <tr>
                                <td><label for="recipe-ingredients">Search by Ingredients: </label></td>
                                <td>
                                    <p>Select all the ingredients you have </p>
                                    <select class="form-select" multiple id="recipe-ingredients" name="recipe-ingredients">
                                        {% for ingredient in ingredients %}
                                        <option value="{{ ingredient.iid }}">{{ ingredient.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 justify-content-center">
                        <p class="pbtn">
                            <input type="submit" value="Search">
                        </p>
                        {% if results %}
                        <td>
                            <p>Search Results </p>
                            <p class="form-select" multiple id="recipe-ingredients" name="recipe-ingredients">
                                {% for searchResult in searchResults %}
                                <li><a href="../recipe/{{searchResult.rid}}" value="{{ searchResult.rid }}">{{ searchResult.title }}</li>
                                {% endfor %}
                            </p>
                        </td>
                        {% endif %}
                    </div>
                    <div class="col-2"></div>
                </div>
            </form>

        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}